.experienceBar{
    display: flex;
    align-items: center;
    padding: 1.4rem 0;
    background: var(--background-dark);
    box-shadow: 0 8px 8px 0 rgb(0 0 0 / 40%);
    border-radius: 5px;
    margin-bottom: 20px;

}

.experienceBar span {
    margin: 7px;
    font-size: 1rem;
    color: var(--white);
}

.experienceBar > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}

.experienceBar > div > div {
    height: 4px;
    border-radius: 4px;
    background: var(--green)    
}

span.currentExperience {
    font-size: 0.85rem;
    position: absolute;
    top: 12px;  
    transform: translateX(-50%)
}